body {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}


.command-list dt, .command-list dd {
  margin-bottom: 16px;
}

.command-list kbd em {
  color: red;
  font-style: normal;
}

.command-list dd em {
  color: red;
  font-style: normal;
}
